*.lean text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.cff text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
lean-toolchain text eol=lf
*.pdf binary
